body {

	background-color: #999999;
	color: #222222;
	font-family: 'Amatic SC', cursive;
}


h1, h2 {
	text-align: center;
	font-family: 'Lobster', cursive;

}

section {

	float: left;
	width: 400px;
	margin: 2%;		
}

footer{

	clear: both;
	text-align: center;
	background-color: #666666;
	padding: 10px;
}



img {
	margin-left:auto;
	margin-right:auto;
	display:block;


}


li {
	display: inline;
	color: #fff;


}

ul.menu {
	background-color: #666666;
	display: block;	
	padding: 10px;
	margin: 0%;


}


a.button {
	padding: 10px 30px 10px 30px;
	border: 4px solid #888;
	background-color: #444;
	color: #fff;
	text-decoration: none;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;
	

}

a.button:hover {

	background-color: #666;
	

}